@model Bloggie.web.Models.ViewModel.RelatedPostViewModel

<div class="col-12 col-md-4">
    <div class="card h-100">
        <img src="@Model.FeaturedImageUrl" class="card-img-top" alt="@Model.Heading">
        <div class="card-body d-flex flex-column">
            @{
                var truncatedHeading = Model.Heading.Length >= 55 ? Model.Heading.Substring(0, 55) + "............." : Model.Heading;
                var titleClass = Model.Heading.Length < 51  ? "card-title mb-4" : "card-title";
            }
            <h6 class="@titleClass">
                <a asp-area="" asp-controller="Blogs" asp-action="Index" asp-route-urlHandle="@Model.UrlHandle" class="text-decoration-none text-dark">
                    <span>@truncatedHeading</span>
                </a>
            </h6>
            <a class="btn btn-dark btn-sm"
               asp-controller="Blogs"
               asp-action="Index"
               asp-route-urlHandle="@Model.UrlHandle">Read More</a>
        </div>
    </div>
</div>
